// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #6EC7E6;
$indigo: #44425B;
$purple: #9561e2;
$pink: #f66d9b;
$red: #DD6777;
$orange: #F2B776;
$yellow: #ffed4a;
$green: #6FC080;
$teal: #4dc0b5;
$cyan: #6cb2eb;
