<template>
    <div>
        <div class="modal fade" id="newProduct" tabindex="-1" role="dialog" aria-labelledby="newProduct" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProductTitle">Nuevo producto para {{client.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="storeProduct" @keydown="product.errors.clear($event.target.name)">
                        <div class="form-group">
                            <label for="productName">Nombre</label>
                            <input type="text" class="form-control" id="productName" name="name" placeholder="Nombre del Producto" v-model="product.name" required>
                            <div class="text-danger" v-text="product.errors.get('name')"></div>

                        </div>
                        <div class="form-group">
                            <label for="code">Código de producto</label>
                            <input type="text" class="form-control" id="code" name="code" placeholder="Código del producto" v-model="product.code" required>
                            <div class="text-danger" v-text="product.errors.get('code')"></div>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '../core/Form';
    export default {
        props: ['client'],
        data: function(){
            return {
                product: new Form({
                    name: '',
                    code: ''
                })
            }
        },
        methods:{
            storeProduct(){
                this.product.submit('post',`/clients/${this.client.id}/products`)
                    .then((response) => {
                        this.$parent.$parent.showNotification('Genial !', 'Se creo el producto','success');
                    }).catch((err) => {
                        if (err.response.status === 400) {
                            this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                        } else {
                            this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                        }
                    });
           }
        },
        mounted() {
        }
    }
</script>
