<template>
    <div>
        <vue-good-table mode="remote" :columns="columns" :rows="products"
            @on-page-change="onPageChange"
            @on-sort-change="onSortChange"
            @on-column-filter="onColumnFilter"
            @on-per-page-change="onPerPageChange"
            :search-options="{enabled: false}"
            :totalRows="totalRecords"
            :pagination-options="{ enabled: true , perPage: 15, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [15]}"
            styleClass="vgt-table striped bordered">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.label == 'Acciones'">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <div class="btn-group">

                            <div v-if="userRole == 'admin'">
                                <button type="button" class="btn btn-sm btn-warning" @click="modalEditProduct(props.row)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-sm"
                                        :class="{ 'btn-danger': props.row.isActive, 'btn-success': !props.row.isActive, }"
                                        @click="desactivateProduct(props.row.id)">
                                <i class="fas fa-ban" v-if="props.row.isActive"></i>
                                <i class="far fa-check-circle" v-else></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" @click="selectProduct(props.row)"
                                        data-toggle="modal" data-target="#newRoute">
                                    + <i class="fas fa-road"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-success" @click="selectProduct(props.row)"
                                        data-toggle="modal" data-target="#showRoutes">
                                    <i class="fas fa-road"></i>
                                </button>
                            </div>
                            <div v-else-if="userRole == 'employee'">
                                <a class="btn btn-primary" :href="`/me/products/${props.row.id}/dashboard/view`" role="button">
                                    <i class="fas fa-chart-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </span>
                <span v-else-if="props.column.label == 'Nombre'">

                    <p style="font-size: 12px">
                        <i class="far fa-check-circle" style="color:green" v-if="props.row.isActive"></i>
                        <i class="fas fa-ban" style="color:red" v-else></i>
                        {{props.formattedRow[props.column.field]}}
                    </p>
                </span>
                <span v-else-if="props.column.label == 'Cliente'">
                    <p style="font-size: 12px">
                        <i class="far fa-check-circle" style="color:green" v-if="props.formattedRow[props.column.field].isActive"></i>
                        <i class="fas fa-ban" style="color:red" v-else></i>
                        {{props.formattedRow[props.column.field].name}}
                    </p>
                </span>
                <span v-else-if="props.column.label == 'Código'">
                    <span class="badge badge-secondary" style="font-size: 12px">{{props.formattedRow[props.column.field]}}</span>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
        <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductLabel">Editando {{currentProduct.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateProduct">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre del cliente" required v-model="currentProduct.name">
                            </div>
                            <div class="form-group">
                                <label for="code">Code</label>
                                <input type="text" class="form-control" id="code" placeholder="Descripción del cliente" required v-model="currentProduct.code">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="activo" v-model="currentProduct.isActive" required>
                                <label class="form-check-label" for="activo">Activo?</label>
                            </div>
                            <button class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <notifications group="foo" position="top center"/>
        <new-route :product="currentProduct"></new-route>
        <routes :routes="currentProduct.routes"></routes>
    </div>
</template>

<script>
    export default {
        props: ['uri'],
        data: function(){
            return {
                userRole : this.$userRole,
                products : [],
                totalRecords: 0,
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 15
                },
                columns: [
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Código',
                        field: 'code',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por code'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Cliente',
                        field: 'client',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por cliente'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
                currentProduct:{}
            }
        },
        mounted() {
            this.loadItems();
        },
        methods:{
            selectProduct(product){
                this.currentProduct = product;
            },
            modalEditProduct(product){
                this.currentProduct = product;

                $('#editProduct').modal('show');
            },
            updateProduct(){
                axios.put(`/products/${this.currentProduct.id}`, this.currentProduct).then((result) => {
                    $('#editProduct').modal('hide');
                    this.$parent.showNotification('Genial !','Se actualizo el producto.','success');
                }).catch((err) => {
                    if (err.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            },
            loadItems() {
                let params = this.serverParams;
                let uri = `${this.uri}?page=${params.page}`;

                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                if(params.columnFilters.code){
                    uri += `&code=${params.columnFilters.code}`
                }
                if(params.columnFilters.client){
                    uri += `&client=${params.columnFilters.client}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.products =  response.data.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            desactivateProduct(id){
                axios.delete(`${this.uri}/${id}`).then((result) => {
                    let index = this.products.findIndex(productFor => productFor.id === id);
                    let product = this.products[index];
                    product.isActive = !product.isActive;
                    Vue.set(this.products, index, product);
                    this.$parent.showNotification('Genial !', 'Se ' + `${product.isActive ? 'activo' : 'desactivo'}` +' el producto','success');

                }).catch((err) => {
                    this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','warn');
                });
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },
            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },
            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },
            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },
            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            }
        }

    }
</script>
