<template>
    <div>
        <div class="modal fade" id="newRoute" tabindex="-1" role="dialog" aria-labelledby="newRoute" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newRouteTitle">Nueva ruta para el producto {{product.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeRoute" @keydown="routeForm.errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="routeName">Nombre de la ruta *</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la ruta" v-model="routeForm.name" required>
                                <div class="text-danger" v-text="routeForm.errors.get('name')"></div>
                            </div>

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '../core/Form';
    export default {
        props: ['product'],
        data: function(){
            return {
                routeForm: new Form({
                    name: ''
                })
            }
        },
        methods:{
            storeRoute(){
               this.routeForm.submit('post', `/clients/${this.product.client.id}/products/${this.product.id}/routes`)
                    .then((response) => {
                        this.$parent.$parent.showNotification('Genial !', 'Se creo la ruta','success');
                    }).catch((error) => {
                        if (error.response.status === 400) {
                            this.$parent.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                        } else {
                            this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                        }
                    });
           }
        },
        mounted() {
        }
    }
</script>
