<template>
    <div>
        <div class="modal fade" id="showRoutes" tabindex="-1" role="dialog" aria-labelledby="showRoutes" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showRoutesTitle">Rutas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" v-if="routes && routes.length > 0">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  v-for="route in routes" :key="route.id">
                                    <td>{{route.name}}</td>
                                    <td>
                                        <button class="btn btn-danger" @click="deleteRoute(route)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="btn btn-warning" @click="editModal(route)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-warning" role="alert" v-else>
                            No hay rutas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editRouteModal" tabindex="-1" role="dialog" aria-labelledby="editRouteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRouteModalLabel">Editando {{currentRoute.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateRoute">
                            <div class="form-group">
                                <label for="routeName">Nombre</label>
                                <input type="text" class="form-control" id="routeName" placeholder="Nombre de la Ruta" v-model="currentRoute.name" required>
                            </div>

                            <button type="submit" class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['routes'],
        data: function(){
            return {
                currentRoute: {}
            }
        },
        methods:{
            editModal(route){
                $('#showRoutes').modal('hide');
                $('#editRouteModal').modal('show');
                this.currentRoute = route;
            },
            updateRoute(){
                axios.put(`/routes/${this.currentRoute.id}`, this.currentRoute).then((result) => {
                    
                    let index = this.routes.findIndex(r => {
                        return r.id === this.currentRoute.id;
                    });
                    Vue.set(this.routes, result.data ,index);
                    $('#editRouteModal').modal('hide');
                    this.$parent.$parent.showNotification('Genial !', 'Se ha actualizado la ruta','success');

                }).catch((err) => {
                    
                    if (err.response.status === 400) {
                        this.$parent.$parent.showNotification('Advertencia', err.response.data.message.friendly,'warn');
                    } else {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            },
            deleteRoute(route){
                axios.delete(`/routes/${route.id}`).then((result) => {
                    let index = this.routes.findIndex(r => {
                        return r.id === route.id;
                    });
                    Vue.delete(this.routes, index);
                    this.$parent.$parent.showNotification('Genial !', 'Se ha borrado la ruta','success');

                }).catch((err) => {
                    if (err.response.status === 400) {
                        this.$parent.$parent.showNotification('Advertencia', err.response.data.message.friendly,'warn');
                    } else {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            }
        },
        mounted() {
            
        }
    }
</script>
