<template>
    <div>
        <a v-if="userRole === 'admin'" class="btn btn-outline-success" href="/checkpoints/create/view" role="button" style="margin:10px;">
            Nuevo checkpoint
        </a>

        <vue-good-table mode="remote" :columns="columns" :rows="checkpoints"
                        @on-page-change="onPageChange"
                        @on-sort-change="onSortChange"
                        @on-column-filter="onColumnFilter"
                        @on-per-page-change="onPerPageChange"
                        :search-options="{enabled: false}"
                        :totalRows="totalRecords"
                        :pagination-options="{ enabled: true , perPage: 15, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [10]}"
                        styleClass="vgt-table striped bordered">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.label == 'Acciones'">
                    <div v-if="userRole === 'operator'">
                        <button v-if="props.row.checkins.length === 0" type="button" class="btn btn-outline-primary" @click="checkin(props.row)">
                            Check-in
                        </button>
                        <span v-else class="badge" :class="[
                            (props.row.checkins[0].status === 'DONE') ? 'badge-success':
                            (props.row.checkins[0].status === 'DELAY') ? 'badge-warning' : 'badge-danger'
                            ]">
                            {{transCheckpointStatus(props.row.checkins[0].status)}}
                        </span>
                    </div>
                    <div v-else-if="userRole === 'admin'">
                        <a class="btn btn-warning" :href="'/checkpoints/' + props.row.id + '/edit-view'" role="button">
                             <i class="fas fa-edit"></i>
                        </a>

                    </div>

                    <button v-if="props.row.answered_forms && props.row.answered_forms.length === 0" type="button" class="btn btn-outline-success" @click="selectForm(props.row.form, props.row)">
                        Formulario {{props.row.form.title}}
                    </button>
                    <span v-if="userRole === 'operator' && props.row.answered_forms && props.row.answered_forms.length > 0" class="badge badge-success">
                        Formulario contestado
                    </span>
                </span>
                <span v-else-if="props.column.label == 'Dirección'">
                    <address v-if="props.row.ggMapUri">
                        <a :href="props.row.ggMapUri" target="_blank">{{props.formattedRow[props.column.field]}}</a>
                    </address>
                    <address v-else>
                        {{props.formattedRow[props.column.field]}}
                    </address>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
        <notifications group="foo" position="top center"/>
        <div class="modal fade" id="answerFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario de checkpoint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div v-if="userRole === 'operator'">
                            <answerable-form v-if="selectedForm.title" :form="selectedForm" :answerable="true" :checkpoint="currentCheckpoint"></answerable-form>
                        </div>
                        <div v-else>
                            <show-form v-if="selectedForm.title" :form="selectedForm"></show-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';
    export default {
        props: ['uri'],
        data: function(){
            return {
                userRole: this.$userRole,
                selectedForm: {},
                checkpoints : [],
                totalRecords: 0,
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 15
                },
                columns: [
                    {
                        label: 'Ruta',
                        field: 'route.name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por ruta'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Dirección',
                        field: 'fullAddress',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por dirección'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Llegada',
                        field: 'arrivalDate',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    },
                    {
                        label: 'Partida',
                        field: 'departureDate',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
                currentCheckpoint: {}
            }
        },
        mounted() {
            this.loadItems();
        },
        methods:{
            selectForm(form, checkpoint){
                this.selectedForm = form;
                this.currentCheckpoint = checkpoint;
                $('#answerFormModal').modal('show');
            },
            selectCheckpoint(checkpoint){
                this.currentCheckpoint = checkpoint;
            },
            checkin(checkpoint){
                axios.post(`/checkpoints/${checkpoint.id}/checkin`).then((result) => {
                    let index = this.checkpoints.findIndex(cp => {
                        return cp.id === checkpoint.id
                    });
                    
                    Vue.set(this.checkpoints, index, result.data);
                    this.$parent.showNotification('Genial !','Hiciste checkin','success');

                }).catch((err) => {
                    this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','warn');
                });
            },
            loadItems() {
                let params = this.serverParams;
                let uri = `${this.uri}?page=${params.page}`;

                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                if(params.columnFilters.fullAddress){
                    uri += `&fullAddress=${params.columnFilters.fullAddress}`
                }
                if(params.columnFilters['route.name']){
                    uri += `&routeName=${params.columnFilters['route.name']}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.checkpoints =  response.data.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },
            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },
            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },
            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },
            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            },
            transCheckpointStatus(status){
                switch (status) {
                    case 'DONE':
                        return 'Checkin hecho';
                        break;
                    case 'DELAY':
                        return 'Estuviste retrasado';
                        break;
                    case 'LACK':
                        return 'Tuviste Falta';
                        break;
                }
            }
        },
        created: function() {
            EventBus.$on('new-answerable-form', function (checkpoint) {
                console.log(checkpoint);
                
                let index = this.checkpoints.findIndex(q => {
                    return q.id === checkpoint.id;
                });
                console.log(index);
                
                Vue.set(this.checkpoints, index, checkpoint);
                $('#answerFormModal').modal('hide')

            }.bind(this));
        },
    }
</script>
