<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" v-if="currentCheckpoint.id">
                    <form @submit.prevent="updateCheckpoint" @keydown="checkpointForm.errors.clear($event.target.name)">
                        <div class="form-group" v-if="products.length > 0">
                            <label for="role">Producto de la ruta *</label>
                            <select class="form-control" id="product" name="product" v-model="checkpointForm.productId" @change="checkpointForm.errors.clear($event.target.name)" required aria-describedby="productHelp">
                                <option v-for="product in products" :key="product.id" :value="product.id">{{product.name}} - {{product.code}}</option>
                            </select>
                            <small id="productHelp" class="form-text text-muted">Este es el producto del checkpoint.</small>
                            <div class="text-danger" v-text="checkpointForm.errors.get('productId')"></div>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            No hay productos. Tienes que crear uno.
                        </div>

                        <div class="form-group" v-if="routes.length > 0">
                            <label for="role">Ruta *</label>
                            <select class="form-control" id="route" name="route" v-model="checkpointForm.routeId" @change="checkpointForm.errors.clear($event.target.name)" required aria-describedby="routeHelp">
                                <option v-for="route in routes" :key="route.id" :value="route.id">{{route.name}}</option>
                            </select>
                            <small id="routeHelp" class="form-text text-muted">Esta es la ruta del checkpoint.</small>
                            <div class="text-danger" v-text="checkpointForm.errors.get('routeId')"></div>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            No hay rutas. Tienes que crear una.
                        </div>

                        <div class="form-group" v-if="forms.length > 0">
                            <label for="form">Layout de Formularios * (Formulario actual 
                                <span class="badge badge-primary">{{currentCheckpoint.form.title}}</span>)
                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Si no lo actualizas se conservará el actual formulario">
                                    <i class="fas fa-question"></i>
                                </span>
                            </label>
                            <select class="form-control" id="form" name="form" v-model="checkpointForm.formId" @change="checkpointForm.errors.clear($event.target.name)" aria-describedby="formHelp">
                                <option v-for="form in forms" :key="form.id" :value="form.id">{{form.title}}</option>
                            </select>
                            <small id="formHelp" class="form-text text-muted">
                                Formulario que se responderá en el checkpoint.
                            </small>
                            <div class="text-danger" v-text="checkpointForm.errors.get('formId')"></div>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            No hay formularios. Tienes que crear uno.
                        </div>

                        <div class="form-group" v-if="groups.length > 0">
                            <label for="group">Grupo de usuarios *</label>
                            <select class="form-control" id="group" name="group" v-model="checkpointForm.groupId" @change="checkpointForm.errors.clear($event.target.name)" required aria-describedby="groupHelp">
                                <option v-for="group in groups" :key="group.id" :value="group.id">{{group.name}}</option>
                            </select>
                            <small id="groupHelp" class="form-text text-muted">Grupo de usuarios que podrán hacer checkin.</small>
                            <div class="text-danger" v-text="checkpointForm.errors.get('group')"></div>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            No hay grupos. Tienes que crear uno.
                        </div>
                        
                        <div class="form-group">
                            <label for="name">Nombre del checkpoint *</label>
                            <input type="text" class="form-control" id="name" v-model="checkpointForm.name" placeholder="Nombre del checkpoint" required>
                            <div class="text-danger" v-text="checkpointForm.errors.get('name')"></div>
                        </div>
                        <div class="form-group">
                            <label for="fullAddress">Dirección completa *</label>
                            <input type="text" class="form-control" id="fullAddress" v-model="checkpointForm.fullAddress" :disabled="true" placeholder="Dirección del checkpoint" required>
                            <div class="text-danger" v-text="checkpointForm.errors.get('fullAddress')"></div>
                            <small id="routeHelp" class="form-text text-primary">Busca en el mapa la dirección.</small>

                        </div>
                        <div class="form-group">
                            <label for="arrivalDate">Fecha de llegada *</label>
                            <input type="datetime-local" class="form-control" id="arrivalDate" v-model="checkpointForm.arrivalDate" placeholder="Fecha de llegada" required>
                            <div class="text-danger" v-text="checkpointForm.errors.get('arrivalDate')"></div>
                        </div>
                        <div class="form-group">
                            <label for="departureDate">Fecha de partida *</label>
                            <input type="datetime-local" class="form-control" id="departureDate" v-model="checkpointForm.departureDate" placeholder="Fecha de llegada" required>
                            <div class="text-danger" v-text="checkpointForm.errors.get('departureDate')"></div>
                        </div>
                        
                        <button type="submit" class="btn btn-success btn-lg btn-block">Guardar</button>
                        <div class="alert alert-warning" style="margin-top: 10px;">
                            Si tu checkpoint ya esta siendo atendido podrías afectar los resultados.
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <gg-map></gg-map>
            <show-form v-if="form.title" :form="form"></show-form>
        </div>
        <notifications group="foo" position="top center"/>
    </div>
</template>

<script>
    import { format, parse } from 'date-fns'
    import Form from '../core/Form';
    import EventBus from '../core/EventBus';
    export default {
        props:['checkpointid'],
        data: function(){
            return {
                checkpointForm: new Form({
                    name: '',
                    fullAddress: '',
                    arrivalDate: '',
                    departureDate: '',
                    lat: '',
                    lng: '',
                    productId: '',
                    routeId: '',
                    formId: '',
                    groupId: '',
                    ggMapUri: ''
                }),
                products: [],
                routes: [],
                forms: [],
                form: {},
                groups: [],
                currentCheckpoint: {}
            }
        },
        methods:{
            getCheckpointDetail(){
                axios.get(`/checkpoints/${this.checkpointid}`).then((result) => {
                    this.currentCheckpoint = result.data;
       
                    let parsedArrrival = parse(this.currentCheckpoint.arrivalDate, 'yyyy-MM-dd HH:mm:ss', new Date());
                    let parseDeparture = parse(this.currentCheckpoint.departureDate, 'yyyy-MM-dd HH:mm:ss', new Date());
                    let formatArrivale = format(parsedArrrival, "yyyy-MM-dd'T'HH:mm:ss")
                    let formatDeparture = format(parseDeparture, "yyyy-MM-dd'T'HH:mm:ss")                    

                    this.checkpointForm = new Form({
                        name : this.currentCheckpoint.name,
                        fullAddress : this.currentCheckpoint.fullAddress,
                        arrivalDate : formatArrivale,
                        departureDate : formatDeparture,
                        lat : this.currentCheckpoint.lat,
                        lng : this.currentCheckpoint.lng,
                        productId : this.currentCheckpoint.route.product_id,
                        routeId : this.currentCheckpoint.route_id,
                        formId : this.currentCheckpoint.form_id,
                        groupId : this.currentCheckpoint.user_groups_id,
                        ggMapUri : this.currentCheckpoint.ggMapUri
                    });
                
                }).catch((err) => {
                    
                });
            },
            updateCheckpoint(){
                this.checkpointForm.submit('put', `/checkpoints/${this.checkpointid}`, false)
                    .then(response => {
                        this.$parent.showNotification('Genial !', 'Se actualizo el checkpoint','success');
                    }).catch(error => {
                        if (error.response.status === 400) {
                            this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                        } else {
                            this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                        }
                    });
            },
            getProducts(){
                axios.get('/products?isActive=true').then((response) => {
                    this.products = response.data;
                    this.checkpointForm.productId = this.products[0].id;
                }).catch((err) => {
                    if (error.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }               
                });
            },
            getRoutes(){
                axios.get(`/routes?productId=${this.checkpointForm.productId}`).then((response) => {
                    this.routes = response.data;
                }).catch((err) => {
                    if (error.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }               
                });
            },
            getForms(){
                axios.get(`/forms?mode=LAYOUT`).then((response) => {
                    this.forms = response.data;
                }).catch((err) => {
                    if (error.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }               
                });
            },
            getForm(){
                axios.get(`/forms/${this.checkpointForm.formId}`).then((response) => {
                    this.form = response.data;
                }).catch((err) => {
                    if (error.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }               
                });
            },
            getGroups: function () {
                axios.get('/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                })
            },
        },
        mounted() {
            this.getProducts();
            this.getForms();
            this.getGroups();
            this.getCheckpointDetail();
        },
        watch:{
            'checkpointForm.productId': function(){
                this.getRoutes();
            },
            'checkpointForm.formId': function(){
                this.getForm();
            }
        },
        created: function () {
            EventBus.$on('new-place', function (place) {
                this.checkpointForm.fullAddress = place.formatted_address;
                this.checkpointForm.lng = place.geometry.location.lng();
                this.checkpointForm.lat = place.geometry.location.lat();
                this.checkpointForm.ggMapUri = place.url;
            }.bind(this));
        },
    }
</script>
