<template>
    <div>
        <input id="pac-input" class="controls form-control" type="text" name="pac-input" placeholder="Buscar lugar :D" 
            @change="updateFullAddres($event.target)" 
            >
        <div id="map"></div>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';

    export default {
        data: function(){
            return{
            }
        },
        methods:{
            updateFullAddres(event){
            },
            initAutocomplete() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 19.4319716, lng: -99.1356141},
                    zoom: 13,
                    mapTypeId: 'roadmap'
                });
        
                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                //restricting MX results
                var options = {
                    componentRestrictions: {country: 'mx'}
                };
                var autocomplete = new google.maps.places.Autocomplete(input, options);
                autocomplete.bindTo('bounds', map);
                autocomplete.addListener('place_changed', function(){
                    var place = autocomplete.getPlace();                    
                    EventBus.$emit('new-place', place);
                });
                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                    searchBox.setBounds(map.getBounds());
                });
                
                var markers = [];
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function() {
                    var places = searchBox.getPlaces();
                    if (places.length == 0) {
                        return;
                    }
        
                    // Clear out the old markers.
                    markers.forEach(function(marker) {
                        marker.setMap(null);
                    });
                    markers = [];
        
                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };
        
                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));
        
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                    });
                    map.fitBounds(bounds);
                    });
                }
        },
        mounted() {
            this.initAutocomplete();
        },
        computed: {
        }
    }
</script>
