<template>
    <div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newGroup" style="margin:10px;">
            Nuevo Grupo
        </button>
        <vue-good-table mode="remote" :columns="columns" :rows="groups"
            @on-page-change="onPageChange"
            @on-sort-change="onSortChange"
            @on-column-filter="onColumnFilter"
            @on-per-page-change="onPerPageChange"
            :search-options="{enabled: false}"
            :totalRows="totalRecords"
            :pagination-options="{ enabled: true , perPage: 15, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [15]}"
            styleClass="vgt-table striped bordered">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.label == 'Acciones'">
                   <button type="button" class="btn btn-danger btn-sm" @click="deleteGroup(props.row.id)">
                       <i class="fas fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" @click="openEditGroup(props.row)">
                        <i class="fas fa-edit"></i>
                    </button>
                </span>
                <span v-else-if="props.column.label == 'Nombre'">
                    <p style="font-size: 12px">
                        {{props.formattedRow[props.column.field]}}
                    </p>
                </span>
                <span v-else-if="props.column.label == 'Descripción'">
                    <p class="text-muted" v-if="!props.formattedRow[props.column.field]">
                        Sin descripción
                    </p>
                    <p v-else style="font-size: 12px">
                        {{props.formattedRow[props.column.field]}}
                    </p>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
        <notifications group="foo" position="top center"/>
        <new-group></new-group>
        <edit-group :group="currentGroup"></edit-group>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';

    export default {
        data: function(){
            return {
                groups: [],
                currentGroup: {},
                totalRecords: 0,
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 15
                },
                columns: [
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Descripción',
                        field: 'description',
                        filterOptions: {
                            enabled: false
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
            }
        },
        methods:{
            openEditGroup(group){
                $('#editGroupModal').modal('show');
                this.currentGroup = group;
            },
            deleteGroup(groupId){
                axios.delete(`/groups/${groupId}`).then((result) => {
                    let index = this.groups.findIndex(group => {
                        return group.id == groupId;
                    });
                    Vue.delete(this.groups, index);
                    this.$parent.showNotification('Genial !', 'Se borró el grupo','success');
                }).catch((err) => {                    
                    if (err.response.status === 400) {
                        this.$parent.showNotification('Advertencia', err.response.data.message.friendly,'warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            },
            loadItems() {
                let params = this.serverParams;
                let uri = `/groups?page=${params.page}`;

                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.groups =  response.data.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },
            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },
            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },
            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },
            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            }
        },
        mounted() {
            this.loadItems();
        },
        created: function () {
            EventBus.$on('new-group', function (group) {
                this.groups.unshift(group);
            }.bind(this));

            EventBus.$on('edit-group', function (group) {
                console.log('getting');
                console.log(group);
                
                let index = this.groups.findIndex(g => {
                    return g.id === group.id
                });

                Vue.set(this.groups, index, group);
            }.bind(this));
        }
    }
</script>
