<template>
    <div>
        <div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="newGroup" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newGroupTitle">Nuevo grupo de usuarios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeGroup" @keydown="groupForm.errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="name">Nombre *</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del grupo" v-model="groupForm.name" required>
                                <div class="text-danger" v-text="groupForm.errors.get('name')"></div>
                            </div>

                            <div class="form-group">
                                <label for="description">Descripción </label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Descripción del grupo" v-model="groupForm.description">
                                <div class="text-danger" v-text="groupForm.errors.get('description')"></div>
                            </div>

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '../core/Form';
    import EventBus from '../core/EventBus';

    export default {
        data: function(){
            return {
                groupForm: new Form({
                    name: '',
                    description: ''
                })
            }
        },
        methods:{
            storeGroup(){
               this.groupForm.submit('post', `/groups`)
                    .then(response => {
                        this.$parent.$parent.showNotification('Genial !', 'Se guardo el grupo','success');
                        EventBus.$emit('new-group', response);
                        $('#newGroup').modal('hide');
                    }).catch((error) => {                        
                        if (error.response.status === 400) {
                            this.$parent.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                        } else {
                            this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                        }
                    });
           }
        },
        mounted() {
        }
    }
</script>
