<template>
    <div style="margin-bottom: 15px;">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newUser">
            Nuevo Usuario
        </button>
        <div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="newUser" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Nuevo usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="storeUser" @keydown="userForm.errors.clear($event.target.name)">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" v-model="userForm.name" required>
                            <div class="text-danger" v-text="userForm.errors.get('name')"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email del usuario" v-model="userForm.email" required>
                            <div class="text-danger" v-text="userForm.errors.get('email')"></div>
                        </div>
                        <div class="form-group">
                            <label for="contact">Contacto</label>
                            <input type="text" class="form-control" id="contact" name="contact" placeholder="Contacto con el usuario" v-model="userForm.contact">
                            <div class="text-danger" v-text="userForm.errors.get('contact')"></div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña del usuario" v-model="userForm.password" required>
                            <div class="text-danger" v-text="userForm.errors.get('password')"></div>
                        </div>
                        <div class="form-group">
                            <label for="role">Rol del usuario</label>
                            <select class="form-control" id="role" name="role" v-model="userForm.role" @change="userForm.errors.clear($event.target.name)" required>
                                <option v-for="role in roles" :key="role.id" :value="role.name">{{role.name}}</option>
                            </select>
                            <div class="text-danger" v-text="userForm.errors.get('role')"></div>
                        </div>
                        <div class="form-group" v-if="userForm.role === 'employee'">
                            <label for="role">Empleado con el cliente</label>
                            <select class="form-control" id="client" name="client" v-model="userForm.client_id" @change="userForm.errors.clear($event.target.name)" required aria-describedby="clientHelp">
                                <option v-for="client in clients" :key="client.id" :value="client.id">{{client.name}}</option>
                            </select>
                            <small id="clientHelp" class="form-text text-muted">El empleado trabaja para este cliente y/o forma parte de su administración.</small>
                            <div class="text-danger" v-text="userForm.errors.get('client_id')"></div>
                        </div>
                        <div class="form-group" v-if="userForm.role === 'employee'">
                            <label for="role">Producto</label>
                            <select class="form-control" id="product" name="product" v-model="userForm.product_id" @change="userForm.errors.clear($event.target.name)" required aria-describedby="productHelp">
                                <option v-for="product in products" :key="product.id" :value="product.id">{{product.name}} - {{product.code}}</option>
                            </select>
                            <small id="productHelp" class="form-text text-muted">El empleado podrá ver información de este producto.</small>
                            <div class="text-danger" v-text="userForm.errors.get('product_id')"></div>
                        </div>
                        <div class="form-group" v-if="userForm.role === 'operator'">
                            <label for="role">Grupo</label>
                            <select class="form-control" id="group" name="group" v-model="userForm.group_id" @change="userForm.errors.clear($event.target.name)" required aria-describedby="groupHelp">
                                <option v-for="group in groups" :key="group.id" :value="group.id">{{group.name}}</option>
                            </select>
                            <small id="groupHelp" class="form-text text-muted">El empleado podrá ver información de este groupo.</small>
                            <div class="text-danger" v-text="userForm.errors.get('group_id')"></div>
                        </div>

                        <button type="submit" class="btn btn-primary" :disabled="userForm.errors.any()">Guardar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '../core/Form';
    import EventBus from '../core/EventBus';
import { log } from 'util';

    export default {
        data: function(){
            return {
                roles: [
                    {
                        id:1,
                        name : 'employee'
                    },
                    {
                        id:2,
                        name : 'admin'
                    },
                    {
                        id:3,
                        name : 'operator'
                    }
                ],
                userForm: new Form({
                    name:'',
                    email:'',
                    password:'',
                    role:'',
                    contact:'',
                    client_id: null,
                    product_id: null,
                    group_id: null,
                }),
                clients: [],
                products: [],
                groups: []
            }
        },
        methods:{
            storeUser(){
               this.userForm.submit('post', '/users')
                .then(data => {
                    this.$parent.$parent.showNotification('Genial !', 'Se creo el usuario','success');
                    EventBus.$emit('new-user', data);
                    $('#newUser').modal('hide');
                })
                .catch(error => {                    
                    if (error.response.status === 400) {
                        this.$parent.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                    }
                })
           },
            getClients: function () {
                axios.get('/clients').then(response => {
                    this.clients = response.data;
                }).catch(error => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                })
            },
            getGroups: function () {
                axios.get('/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                })
            },
            getClientProducts: function () {
                if (this.userForm.client_id !== null && this.userForm.client_id  !== ''){
                    axios.get(`/clients/${this.userForm.client_id}/products`).then(response => {
                        this.products= response.data.data;
                    }).catch(error => {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                    })
                }
            }
        },
        mounted() {
            this.getClients();
        },
        watch: {
            'userForm.client_id' : function(newVal, oldVal){
                this.getClientProducts();
            },
            'userForm.role': function(newVal, oldVal){
                if (newVal == 'operator') {
                    this.getGroups();
                }
            }
        }
    }
</script>
