<template>
    <div>
       <vue-good-table mode="remote" :columns="columns" :rows="users"
            @on-page-change="onPageChange"
            @on-sort-change="onSortChange"
            @on-column-filter="onColumnFilter"
            @on-per-page-change="onPerPageChange"
            :search-options="{enabled: false}"
            :totalRows="totalRecords"
            :pagination-options="{ enabled: true , perPage: 15, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [10]}"
            styleClass="vgt-table striped bordered">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.label == 'Acciones'">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-warning" @click="editUserModal(props.row)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button type="button" class="btn btn-sm"
                                :class="{ 'btn-danger': props.row.isActive, 'btn-success': !props.row.isActive, }"
                                @click="desactivateUser(props.row.id)">
                                <i class="fas fa-ban" v-if="props.row.isActive"></i>
                                <i class="far fa-check-circle" v-else></i>
                            </button>
                        </div>
                    </div>
                </span>
                <span v-else-if="props.column.label == 'Nombre'">

                    <p style="font-size: 12px">
                        <i class="far fa-check-circle" style="color:green" v-if="props.row.isActive"></i>
                        <i class="fas fa-ban" style="color:red" v-else></i>
                              <kbd>{{props.row.roles[0].name}}</kbd> {{props.formattedRow[props.column.field]}}
                    </p>
                </span>
                <span v-else-if="props.column.label == 'Grupo'">
                    <span v-if="props.row.roles[0].name === 'operator' && props.row.group">
                        <p><small>{{props.row.group.name}}</small></p>
                    </span>
                </span>
                <span v-else-if="props.column.label == 'Cliente'">
                    <span v-if="props.row.roles[0].name === 'employee' && props.row.client">
                        <p>
                            <small>{{props.row.client.name}}
                                <span v-if="props.row.products.length > 0">
                                        con product  {{props.row.products[0].name}}
                                </span> 
                            </small>
                        </p>
                    </span>
                </span>
                <span v-else-if="props.column.label == 'Email'">
                    <span class="badge badge-secondary" style="font-size: 12px">{{props.formattedRow[props.column.field]}}</span>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
        <notifications group="foo" position="top center"/>
        <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserLabel">Editando {{currentUser.email}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateUser" v-if="currentUser.name">
                            <div class="form-group">
                                <label for="nameUser">Nombre</label>
                                <input type="text" class="form-control" id="nameUser" placeholder="Nombre del cliente" required v-model="currentUser.name">
                            </div>
                            <div class="form-group">
                                <label for="contactUser">Contacto</label>
                                <input type="text" class="form-control" id="contactUser" placeholder="Contacto del usuario" v-model="currentUser.contact">
                            </div>
                            <div class="form-group">
                                <label for="passUser">Contraseña</label>
                                <input type="password" class="form-control" id="passUser" placeholder="Contraseña" v-model="currentUser.password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="activo" v-model="currentUser.isActive" required>
                                <label class="form-check-label" for="activo">Activo?</label>
                            </div>
                            <div class="form-group" v-if="currentUser && currentUser.roles[0].name === 'employee'">
                                <label for="role">Empleado con el cliente</label>
                                <select class="form-control" id="client" name="client" v-model="currentUser.client_id" required aria-describedby="clientHelp">
                                    <option v-for="client in clients" :key="client.id" :value="client.id">{{client.name}}</option>
                                </select>
                                <small id="clientHelp" class="form-text text-muted">El empleado trabaja para este cliente y/o forma parte de su administración.</small>
                            </div>
                            <div class="form-group" v-if="currentUser && currentUser.roles[0].name === 'employee'">
                                <label for="role">Producto</label>
                                <select class="form-control" id="product" name="product" v-model="currentUser.products[0].id" required aria-describedby="productHelp">
                                    <option v-for="product in products" :key="product.id" :value="product.id">{{product.name}} - {{product.code}}</option>
                                </select>
                                <small id="productHelp" class="form-text text-muted">El empleado podrá ver información de este producto.</small>
                            </div>
                            <div class="form-group" v-if="currentUser && currentUser.roles[0].name === 'operator'">
                                <label for="role">Grupo</label>
                                <select class="form-control" id="group" name="group" v-model="currentUser.group.id" required aria-describedby="groupHelp">
                                    <option v-for="group in groups" :key="group.id" :value="group.id">{{group.name}}</option>
                                </select>
                                <small id="groupHelp" class="form-text text-muted">El empleado podrá ver información de este groupo.</small>
                            </div>
                            <button class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';

    export default {
        data: function(){
            return {
                users : [],
                totalRecords: 0,
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 15
                },
                columns: [
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Grupo',
                        field: 'group',
                        filterOptions: {
                            enabled: false
                        },
                        sortable: false,
                    },
                    {
                        label: 'Cliente',
                        field: 'client',
                        filterOptions: {
                            enabled: false
                        },
                        sortable: false,
                    },
                    {
                        label: 'Email',
                        field: 'email',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por email'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
                currentUser:{},
                clients: [],
                groups: [],
                products: []
            }
        },
        mounted() {
            this.loadItems();
            this.getClients();
            this.getGroups();
        },
        methods:{
            editUserModal(user){
                this.currentUser = user;
                $('#editUser').modal('show');
            },   
            updateUser(){
                axios.put(`/users/${this.currentUser.id}`, this.currentUser).then((result) => {
                    
                    let index = this.users.findIndex(u => {
                        return u.id === this.currentUser.id;
                    });
                    Vue.set(this.users, index, result.data);
                    this.$parent.$parent.showNotification('Genial !', 'Se ha actualizado el usuario', 'success');
                    $('#editUser').modal('hide');
                }).catch((err) => {
                    if (err.response.status === 400) {
                        this.$parent.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            },
            loadItems() {
                let params = this.serverParams;
                let uri = `/users?page=${params.page}`;
                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                if(params.columnFilters.email){
                    uri += `&email=${params.columnFilters.email}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.users =  response.data.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            desactivateUser(id){
                axios.delete(`/users/${id}`).then((result) => {
                    let index = this.users.findIndex(userFor => userFor.id === id);
                    let user = this.users[index];
                    user.isActive = !user.isActive;
                    Vue.set(this.users, index, user);
                    this.$parent.$parent.showNotification('Genial !', 'Se ' +`${user.isActive ? 'activo' : 'desactivo'}`+  ' el usuario','success');
                }).catch((err) => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','warn');
                });
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },
            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },
            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },
            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },
            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            },
            getClients: function () {
                axios.get('/clients').then(response => {
                    this.clients = response.data;
                }).catch(error => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                })
            },
            getGroups: function () {
                axios.get('/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                })
            },
            getClientProducts: function () {
                if (this.currentUser.client_id !== null && this.currentUser.client_id  !== ''){
                    axios.get(`/clients/${this.currentUser.client_id}/products`).then(response => {
                        this.products= response.data.data;
                    }).catch(error => {
                        this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','danger');
                    })
                }
            }
        },
        created: function () {
            EventBus.$on('new-user', function (user) {
                this.users.unshift(user);
            }.bind(this));
        },
        watch: {
            'currentUser.client_id' : function(newVal, oldVal){
                this.getClientProducts();
            },
        }
    }
</script>
