<template>
    <div class="col-md-12">
        <new-user></new-user>
        <users-table></users-table>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                
            }
        },
        mounted() {
            
        },
        methods: {
           
        }
    }
</script>
