<template>
    <div>

        <div class="card">
            <div class="card-header">
                {{form.title}}
            </div>
            <div class="card-body">
                <small class="text-muted">{{form.description}}</small>
                <form @submit.prevent="storeAnswers" id="answerForm">
                    <!-- <show-question v-for="question in form.questions" :question="question" :key="question.id" :answerable="answerable"></show-question> -->
                    <input type="hidden" name="checkpointId" :value="checkpoint.id">
                    <input type="hidden" name="formId" :value="form.id">
                    <div class="card" style="margin:10px;" v-for="question in form.questions" :key="question.id">
                        <div class="card-header">{{question.order}}. {{question.name}}</div>

                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group" v-if="question.questionType === 'TEXT'">
                                <input type="text" class="form-control" required placeholder="Respuesta abierta..." :id="question.id+'_'+question.questionType" :name="'options['+question.id+'_'+question.questionType+']'">
                            </div>
                            <div class="form-group" v-else-if="question.questionType === 'SELECT'">
                                <div class="form-group">
                                    <select class="form-control" required :id="question.id+'_'+question.questionType" :name="'options['+ question.id+'_'+question.questionType+']'">
                                        <option v-for="option in question.options" :value="option.id" :key="option.id">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" v-else-if="question.questionType === 'CHECKBOX'">
                                <div class="form-check form-check-inline" v-for="option in question.options" :key="option.id">
                                    <input class="form-check-input" type="checkbox" :value="option.id" :id="question.id+'_'+question.questionType" :name="'options['+question.id+'_'+question.questionType+'_'+option.id +']'">
                                    <label class="form-check-label">{{option.name}}</label>
                                </div>
                            </div>
                            <div class="form-group" v-else-if="question.questionType === 'RADIO'">
                                <div class="form-check form-check-inline" v-for="option in question.options" :key="option.id">
                                    <input class="form-check-input" type="radio" :value="option.id" :id="question.id+'_'+question.questionType" :name="'options['+question.id+'_'+question.questionType+'_'+option.id +']'">
                                    <label class="form-check-label">{{option.name}}</label>
                                </div>
                            </div>
                            <div class="form-group" v-else-if="question.questionType === 'IMAGE'">
                                <div class="form-group">
                                    <p class="text-primary font-weight-bold">Aquí se pedirá que suban una imagen.</p>
                                    <input type="file" class="form-control-file" required :id="question.id+'_'+question.questionType" :name="'options['+question.id+'_'+question.questionType +']'">
                                </div>
                            </div>
                            <div class="form-group" v-else>
                                NONE
                            </div>
                        </div>
                    </div>
                </div>

                    <button type="submit" class="btn btn-outline-success">Responder</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';

    export default {
        props: {
            form: {
                type: Object,
                required: true
            },
            answerable: {
                type: Boolean,
                default: false,
                required: true
            },
            checkpoint:{
                type: Object,
                required: true
            }
        },
        data: function(){
            return {
                formAnswered: {
                    questions:[]
                }
            }
        },
        methods:{
            storeAnswers(){
                let form = document.getElementById('answerForm');
                let formData = new FormData(form);

                axios.post(`/checkpoints/${this.checkpoint.id}/forms`, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then((result) => {
                        this.$parent.$parent.showNotification('Genial !', 'Se respondió el formulario correctamente.','success');
                        EventBus.$emit('new-answerable-form', result.data.checkpoint);

                }).catch((err) => {

                });
            }
        },
        mounted() {

        }
    }
</script>
