<template>
    <div>
        
        <div class="card">
            <div class="card-header">
                {{form.title}}
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    Este formulario aparecera para el checkpoint.
                </div>
                <small class="text-muted">{{form.description}}</small>
                <show-question v-for="question in form.questions" :question="question" :key="question.id"></show-question>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['form'],
        data: function(){
            return {

            }
        },
        methods:{

        },
        mounted() {

        }
    }
</script>
