<template>
    <div class="col-md-10" id="forms">
        <div class="card">
            <div class="card-header">
                Formulario
            </div>
            <div class="card-body">
                <form @submit.prevent="storeForm">
                    <button class="btn btn-outline-success" @click.prevent="newQuestion" style="margin-bottom:10px;">
                        <i class="fas fa-plus"></i> Pregunta
                    </button>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="title" 
                            placeholder="Titulo del formulario" v-model="title" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                rows="3" placeholder="Descripción del formulario" v-model="description" required>
                        </textarea>
                    </div>
                    <div ref="questionsSection">

                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top:10px;">Guardar</button>
                </form>
            </div>
        </div>
        <notifications group="foo" position="top center"/>

    </div>
</template>

<script>
    import NewQuestion from './NewQuestion';
    import EventBus from '../core/EventBus';
    export default {
        components: { NewQuestion },
        data: function(){
            return {
                title: 'Titulo de formulario',
                mode: 'LAYOUT',
                description: 'Un formulario de prueba',
                questions:[]
            }
        },
        methods:{
            newQuestion(){
                let QuestionComponent = Vue.extend(NewQuestion);
                var instance = new QuestionComponent({ 
                    propsData: {
                        name: 'Prueba 1',
                        questionType: 'TEXT',
                        answers:[],
                        questionTypes: ['TEXT', 'SELECT', 'RADIO', 'CHECKBOX', 'IMAGE']
                    },
                    parent: this
                }).$mount();
                this.$refs.questionsSection.appendChild(instance.$el);
                this.questions.push(instance.$data);
            },
            storeForm(){
                axios.post('/forms', {
                    title: this.title,
                    mode: this.mode,
                    description: this.description,
                    questions: this.questions
                }).then(response => {
                    this.$parent.showNotification('Genial !', 'Se creo el formulario','success');
                    this.title = 'Titulo de formulario';
                    this.mode = 'LAYOUT';
                    this.description = 'Un formulario de prueba';
                    this.questions = [];
                    while (this.$refs['questionsSection'].firstChild) {
                        this.$refs['questionsSection'].removeChild(this.$refs['questionsSection'].firstChild);
                    }
                }).catch(err => {
                   if (err.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            }

        },
        mounted() {
            
        },
        created: function () {
            EventBus.$on('delete-question', function (question) {
                let index = this.questions.findIndex(q => {
                    return q.tempId === question.tempId;
                });
                Vue.delete(this.questions, index);

            }.bind(this));
        }
    }
</script>
