<template>
    <div>
        <div class="form-group" v-if="optionType === 'TEXT'">
            <input type="text" class="form-control" placeholder="Respuesta abierta..." :disabled="true">
        </div>
        <div class="form-group" v-else-if="optionType === 'SELECT'">
            <input type="text" class="form-control" placeholder="Opción" v-model="name">
        </div>
        <div class="form-group" v-else-if="optionType === 'CHECKBOX'">
            <input type="text" class="form-control" placeholder="Opción" v-model="name">
        </div>
        <div class="form-group" v-else-if="optionType === 'RADIO'">
            <input type="text" class="form-control" placeholder="Opción" v-model="name">
        </div>
        <div class="form-group" v-else-if="optionType === 'IMAGE'">
            <div class="form-group">
                <p class="text-primary font-weight-bold">Aquí se pedirá que suban una imagen.</p>
                <input type="file" class="form-control-file" :disabled="true">
            </div>
        </div>
        <div class="form-group" v-else>
            NONE
        </div>
    </div>
</template>

<script>
    export default {
        props: ['optionType','name'],
        data: function(){
            return {
            }
        },
        methods:{

        },
        mounted() {
            
        }
    }
</script>
