<template>
    <div class="card" :id="tempId" :ref="tempId" style="margin: 10px;">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" class="form-control" id="name" name="name" v-model="name" placeholder="Pregunta sin titulo" required>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" id="questionType" name="questionType" v-model="questionType" @change="resetAnwers">
                        <option v-for="qt in questionTypes" :value="qt" v-bind:key="qt">{{qt}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                     <button class="btn btn-outline-danger" @click.prevent="deleteQuestion();">
                        <i class="far fa-trash-alt"></i> Pregunta
                    </button>
                </div>
                <div class="form-group col-md-4">
                    <button class="btn btn-outline-success" @click.prevent="newOption" v-if="optionable">
                        <i class="fas fa-plus"></i> Respuesta
                    </button>
                </div>
            </div>
            <h4>Opciones</h4>

            <div ref="textSection" v-show="questionType === 'TEXT'"></div>

            <div ref="selectSection" v-show="questionType === 'SELECT'"></div>

            <div ref="radioSection" v-show="questionType === 'RADIO'"></div>

            <div ref="checkboxSection" v-show="questionType === 'CHECKBOX'"></div>

            <div ref="imageSection" v-show="questionType === 'IMAGE'"></div>

        </div>

    </div>
</template>

<script>
    import QuestionOption from '../core/QuestionOption';
    import EventBus from '../core/EventBus';
    export default {
        data: function(){
            return {
                tempId: new Date().getTime(),
                name: '',
                questionType: 'TEXT',
                options:[],
                questionTypes: ['TEXT', 'SELECT', 'RADIO', 'CHECKBOX', 'IMAGE']
            }
        },
        methods:{
            newOption(){
                let optionComponent = new QuestionOption(this.questionType, this.$refs[this.questionSection]);
                this.options.push(optionComponent.instance.$props);
            },
            resetAnwers(){
                this.options = [];
                while (this.$refs[this.questionSection].firstChild) {
                    this.$refs[this.questionSection].removeChild(this.$refs[this.questionSection].firstChild);
                }
                this.newOption();
            },
            deleteQuestion(){
                EventBus.$emit('delete-question', this);
                this.$parent.$refs.questionsSection.removeChild(this.$refs[this.tempId]);
            }
        },
        mounted() {
            this.newOption();
        },
        computed:{
            questionSection(){
                return this.questionType.toLowerCase() + 'Section';
            },
            optionable(){
                if (this.questionType === 'SELECT' || this.questionType === 'RADIO' || this.questionType === 'CHECKBOX') {
                    return true
                }
                return false;
            }
        }
    }
</script>
