<template>
    <div class="card" style="margin:10px;">
        <div class="card-header">{{question.order}}. {{question.name}}</div>

        <show-options :options="question.options" :optionType="question.questionType"></show-options>
    </div>
</template>

<script>
    export default {
        props: {
            question: {
                type: Object,
                required: true
            }
        },
        data: function(){
            return {}
        },
        methods:{

        },
        mounted() {

        }
    }
</script>
