<template>
    <div class="card-body">
        <!-- <div class="card-header">Example Component</div> -->
            <div class="form-group">
                <div class="form-group" v-if="optionType === 'TEXT'">
                <input type="text" class="form-control" placeholder="Respuesta abierta...">
            </div>
            <div class="form-group" v-else-if="optionType === 'SELECT'">
                <div class="form-group">
                    <select class="form-control" id="options">
                        <option v-for="option in options" :key="option.id">{{option.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" v-else-if="optionType === 'CHECKBOX'">
                <div class="form-check form-check-inline" v-for="option in options" :key="option.id">
                    <input class="form-check-input" type="checkbox" :id="option.id">
                    <label class="form-check-label" for="inlineCheckbox1">{{option.name}}</label>
                </div>
            </div>
            <div class="form-group" v-else-if="optionType === 'RADIO'">
                <div class="form-check form-check-inline" v-for="option in options" :key="option.id">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" :id="option.id">
                    <label class="form-check-label" for="inlineRadio1">{{option.name}}</label>
                </div>
            </div>
            <div class="form-group" v-else-if="optionType === 'IMAGE'">
                <div class="form-group">
                    <p class="text-primary font-weight-bold">Aquí se pedirá que suban una imagen.</p>
                    <input type="file" class="form-control-file" :disabled="true">
                </div>
            </div>
            <div class="form-group" v-else>
                NONE
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            options: {
                type: Array,
                required: true
            },
            optionType: {
                type: String
            }
        },
        data: function(){
            return {}
        },
        methods:{

        },
        mounted() {
            
        }
    }
</script>
