<template>
    <div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newClient" style="margin:10px;">
            Nuevo Cliente
        </button>
        <vue-good-table mode="remote" :columns="columns" :rows="clients"
                        @on-page-change="onPageChange"
                        @on-sort-change="onSortChange"
                        @on-column-filter="onColumnFilter"
                        @on-per-page-change="onPerPageChange"
                        :search-options="{enabled: false}"
                        :totalRows="totalRecords"
                        :pagination-options="{ enabled: true , perPage: 15, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [10]}"
                        styleClass="vgt-table striped bordered">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.label == 'Acciones'">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-warning" @click="editClientModal(props.row)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button type="button" class="btn btn-sm"
                                        :class="{ 'btn-danger': props.row.isActive, 'btn-success': !props.row.isActive, }"
                                        @click="desactivateClient(props.row.id)">
                                <i class="fas fa-ban" v-if="props.row.isActive"></i>
                                <i class="far fa-check-circle" v-else></i>
                            </button>
                            <button type="button" @click="selectClient(props.row)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#newProduct">
                                <i class="fab fa-product-hunt"></i>
                            </button>
                        </div>
                    </div>
                </span>
                <span v-else-if="props.column.label == 'Nombre'">
                    <p style="font-size: 12px">
                        <i class="far fa-check-circle" style="color:green" v-if="props.row.isActive"></i>
                        <i class="fas fa-ban" style="color:red" v-else></i>
                           {{props.formattedRow[props.column.field]}}
                    </p>
                </span>
                <span v-else-if="props.column.label == 'Descripción'">
                    <p style="font-size: 12px" v-if="props.formattedRow[props.column.field]">
                        {{props.formattedRow[props.column.field]}}
                    </p>
                    <p v-else class="text-muted">Sin descripción</p>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
        <div class="modal fade" id="editClient" tabindex="-1" role="dialog" aria-labelledby="editClientLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editClientLabel">Editando Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateClient">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre del cliente" required v-model="currentClient.name">
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <input type="text" class="form-control" id="description" placeholder="Descripción del cliente" v-model="currentClient.description">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="activo" v-model="currentClient.isActive" required>
                                <label class="form-check-label" for="activo">Activo?</label>
                            </div>
                            <button class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <notifications group="foo" position="top center"/>
        <new-client-product :client="currentClient"></new-client-product>
        <new-client></new-client>
    </div>
</template>

<script>
    import EventBus from '../core/EventBus';
    export default {
        data: function(){
            return {
                clients : [],
                totalRecords: 0,
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 15
                },
                columns: [
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Descripción',
                        field: 'description',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
                currentClient:{}
            }
        },
        mounted() {
            this.loadItems();
        },
        created: function () {
            EventBus.$on('new-client', function (client) {
                this.clients.unshift(client);
            }.bind(this));
        },
        methods:{
            selectClient(client){
                this.currentClient = client;
            },
            editClientModal(client){
                this.currentClient = client;
                $('#editClient').modal('show');
            },
            updateClient(){
                axios.put(`/clients/${this.currentClient.id}`, this.currentClient).then((result) => {
                    $('#editClient').modal('hide');
                    this.$parent.showNotification('Genial !', 'Se actualizo el cliente','success');
                    this.currentClient = {};
                }).catch((error) => {
                    if (error.response.status === 400) {
                        this.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                    } else {
                        this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                    }
                });
            },
            loadItems() {
                let params = this.serverParams;
                let uri = `/clients?page=${params.page}`;
                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.clients =  response.data.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            desactivateClient(id){
                axios.delete(`/clients/${id}`).then((result) => {
                    let index = this.clients.findIndex(clientFor => clientFor.id === id);
                    let client = this.clients[index];
                    client.isActive = !client.isActive;
                    Vue.set(this.clients, index, client);
                    this.$parent.showNotification('Genial !', 'Se ' + `${client.isActive ? 'activo' : 'desactivo'}` + ' el cliente','success');
                }).catch((err) => {
                    this.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','warn');
                });
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },
            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },
            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },
            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },
            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            }
        }

    }
</script>
