<template>
    <div>
        <div class="modal fade" id="newClient" tabindex="-1" role="dialog" aria-labelledby="newClientTile" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newClientTile">Nuevo Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeRoute" @keydown="clientForm.errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="routeName">Nombre del cliente *</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del cliente" v-model="clientForm.name" required>
                                <div class="text-danger" v-text="clientForm.errors.get('name')"></div>
                            </div>
                            <div class="form-group">
                                <label for="routeName">Descripción del cliente</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Descripción del cliente" v-model="clientForm.description">
                                <div class="text-danger" v-text="clientForm.errors.get('description')"></div>
                            </div>

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '../core/Form';
    import EventBus from '../core/EventBus';
    export default {
        data: function(){
            return {
                clientForm: new Form({
                    name: '',
                    description: ''
                })
            }
        },
        methods:{
            storeRoute(){
               this.clientForm.submit('post', `/clients`)
                    .then(response => {
                        this.$parent.$parent.showNotification('Genial !', 'Se creo el cliente','success');
                        console.log(response.data);
                        EventBus.$emit('new-client', response.data);
                        $('#newClient').modal('hide');
                    }).catch(error => {
                        if (error.response.status === 400) {
                            this.$parent.$parent.showNotification('Advertencia', 'Parece que hay cosas que corregir','warn');
                        } else {
                            this.$parent.$parent.showNotification('Error', 'Algo paso paso intenta más tarde','error');
                        }
                    });
           }
        },
        mounted() {
        }
    }
</script>
